* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

:root {
  --background-color: #1b110f;
  --text-color: #d0a099;
  --accent-color: #d3fbd8;
  --secondary-color: #89726e;
}

.parralax {
  background-image: url(images/pexels-walid-ahmad-847402.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body,
html {
  height: 100%;
}

.home {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

/* strong{
  font-family: 'Yomogi', cursive;
} */

.about {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 80px;
}

h1 fade .main {
  padding: 0;
}

.skills {
  background-color: var(--secondary-color);
  padding: 3em;
  position: relative;
  top: 100px;
}

i {
  font-size: 40px;
}

.projects {
  height: 100vh;
  background-color: var(--secondary-color);
  text-align: center;
  padding-top: 80px;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15%;
}

h2 {
  font-size: 72px;
  padding: 30px;
}

.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.links {
  margin: 0;
  padding: 0;
  display: flex;
}

.links,
a {
  text-decoration: none;
  color: var(--text-color);
  padding-right: 20px;
}

.links a:hover,
.contact i:hover {
  color: var(--accent-color);
}

img {
  border-radius: 8px;
  max-height: 250px;
}

.project {
  width: min-content;
}

.project:hover img {
  transition: 0.5s;
  filter: grayscale(100%);
}

.project:hover .hide {
  opacity: 1;
}

.hide {
  opacity: 0;
  width: 400px;
}

.hide p,
.hide i {
  color: var(--accent-color);
}

.contact {
  flex-direction: column;
}

@media (max-width: 768px) {
  .home {
    padding: 2em;
  }

  img {
    max-height: 60%;
  }

  .project {
    height: 600pxt;
  }

  .hide {
    opacity: 1;
    width: 350px;
  }
}
/* 
@media (min-width: 3500px) {
  h1 {
    font-size: 10em;
  }

  h2 {
    font-size: 6em;
  }
}

.pr-row {
  margin: 0;
} */

.logo {
  height: 1.5em;
}

.bg {
  background-color: none;
}
